<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Home</a></li>
  <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ "/about/" | absolute_url }}">About</a></li>
  <li class="{% if page.url contains '/articles/' %} active {% endif %}"><a href="{{ "/articles/" | absolute_url }}">Articles</a></li>
  <li class="{% if page.url contains '/interests/' %} active {% endif %}"><a href="{{ "/interests/" | absolute_url }}">Interests</a></li>
  <li class="{% if page.url contains '/contact/' %} active {% endif %}"><a href="{{ "/contact/" | absolute_url }}">Contact Me</a></li>
</ul>

<ul class="icons">
  <li><a href="https://linkedin.com/{{site.linkedin}}" class="icon fa-linkedin" target="_blank" rel="nofollow"><span class="label">Linkedin</span></a></li>
  <li><a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" target="_blank" rel="nofollow"><span class="label">Facebook</span></a></li>
  <li><a href="https://instagram.com/{{site.instagram}}" class="icon fa-instagram" target="_blank" rel="nofollow"><span class="label">Instagram</span></a></li>
  <li><a href="https://github.com/{{site.github}}" class="icon fa-github" target="_blank" rel="nofollow"><span class="label">GitHub</span></a></li>
</ul>
